In [103]:
# IMPORT
import statsmodels.api as sm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

Build a regression model.

In [104]:
# PULL PREVIOUS DATA FRAME THROUGH SQLITE3 DATABASE
connection = sqlite3.connect("sqldata.sqlite")
sql_df = pd.read_sql_query('SELECT * FROM merged_df2', connection)
connection.close()

In [105]:
sql_df.head()

,index,name_x,latitude,longitude,free_bikes,fsq_id,category,distance,country,city,address,name_y,name,review_count,rating,price,catergory
0,0,André Mazet - Saint-André des Arts,48.85,2.34,23,4bbde5128a4fb713b57e3d9d,Tea Room,52,FR,Paris,59-61 rue Saint-André des Arts,La Jacobine,L'Avant Comptoir,643,4.5,€€,Tapas Bars
1,1,André Mazet - Saint-André des Arts,48.85,2.34,23,4bbde5128a4fb713b57e3d9d,Tea Room,52,FR,Paris,59-61 rue Saint-André des Arts,La Jacobine,Bistro des Augustins,463,4.5,€€,Bistros
2,2,André Mazet - Saint-André des Arts,48.85,2.34,23,4bbde5128a4fb713b57e3d9d,Tea Room,52,FR,Paris,59-61 rue Saint-André des Arts,La Jacobine,La Jacobine,313,4.5,€€€,Tea Rooms
3,3,André Mazet - Saint-André des Arts,48.85,2.34,23,4bbde5128a4fb713b57e3d9d,Tea Room,52,FR,Paris,59-61 rue Saint-André des Arts,La Jacobine,Jardin du Luxembourg,380,4.5,None,Parks
4,4,André Mazet - Saint-André des Arts,48.85,2.34,23,4bbde5128a4fb713b57e3d9d,Tea Room,52,FR,Paris,59-61 rue Saint-André des Arts,La Jacobine,Little Breizh,209,4.5,€€,Creperies

In [106]:
sql_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11945 entries, 0 to 11944
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         11945 non-null  int64
 1   name_x        11945 non-null  object
 2   latitude      11945 non-null  float64
 3   longitude     11945 non-null  float64
 4   free_bikes    11945 non-null  int64
 5   fsq_id        11945 non-null  object
 6   category      11945 non-null  object
 7   distance      11945 non-null  int64
 8   country       11945 non-null  object
 9   city          11945 non-null  object
 10  address       11945 non-null  object
 11  name_y        11945 non-null  object
 12  name          11945 non-null  object
 13  review_count  11945 non-null  int64
 14  rating        11945 non-null  float64
 15  price         10521 non-null  object
 16  catergory     11945 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 1.5+ MB

In [107]:
sql_df.describe()

,index,latitude,longitude,free_bikes,distance,review_count,rating
count,11945.000000,11945.000000,11945.000000,11945.000000,11945.000000,11945.000000,11945.000000
mean,5972.000000,48.854369,2.343745,17.943072,430.556718,388.850984,4.417288
std,3448.368817,0.009135,0.017191,10.941249,328.978593,303.415392,0.216295
min,0.000000,48.830000,2.270000,0.000000,52.000000,67.000000,3.500000
25%,2986.000000,48.850000,2.340000,10.000000,229.000000,209.000000,4.500000
50%,5972.000000,48.850000,2.340000,19.000000,352.000000,314.000000,4.500000
75%,8958.000000,48.850000,2.340000,25.000000,424.000000,463.000000,4.500000
max,11944.000000,48.890000,2.390000,44.000000,1596.000000,2039.000000,5.000000

In [108]:
sql_df = sql_df.drop(['category','name','name_y','address', 'city', 'country','catergory','fsq_id','name_x'], axis=1) #DROPPED ALL OBJECT TYPE COLUMNS

KeyError: "['category', 'name', 'name_y', 'address', 'city', 'country', 'catergory', 'fsq_id', 'name_x'] not found in axis"

In [109]:
print(sql_df)

       index  latitude  longitude  free_bikes  distance  review_count  rating  \
0          0     48.85       2.34          23        52           643     4.5
1          1     48.85       2.34          23        52           463     4.5
2          2     48.85       2.34          23        52           313     4.5
3          3     48.85       2.34          23        52           380     4.5
4          4     48.85       2.34          23        52           209     4.5
...      ...       ...        ...         ...       ...           ...     ...
11940  11940     48.86       2.36          17       374          1906     4.5
11941  11941     48.86       2.36          17       374           218     4.5
11942  11942     48.86       2.36          17       374           459     4.0
11943  11943     48.86       2.36          17       374          1906     4.5
11944  11944     48.86       2.36          17       374          1906     4.5

      price
0        €€
1        €€
2       €€€
3      None
4        €€
...     ...
11940    €€
11941     €
11942    €€
11943    €€
11944    €€

[11945 rows x 8 columns]

In [110]:
np.asarray(sql_df)

array([[0, 48.85, 2.34, ..., 643, 4.5, '€€'],
       [1, 48.85, 2.34, ..., 463, 4.5, '€€'],
       [2, 48.85, 2.34, ..., 313, 4.5, '€€€'],
       ...,
       [11942, 48.86, 2.36, ..., 459, 4.0, '€€'],
       [11943, 48.86, 2.36, ..., 1906, 4.5, '€€'],
       [11944, 48.86, 2.36, ..., 1906, 4.5, '€€']], dtype=object)

Provide model output and an interpretation of the results.

In [112]:
# DEPENDENT & INDEPENDENT VARIABLES
y = train_data['free_bikes']
X = train_data.drop(['free_bikes'], axis=1)
X = sm.add_constant(X_train) # ASS CONSTANT

# LINEAR REGRESSION MODEL
model = sm.OLS(y, X)

# FIT MODEL
results = model.fit()

# PRINT SUMMARY
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             free_bikes   R-squared:                       0.196
Model:                            OLS   Adj. R-squared:                  0.196
Method:                 Least Squares   F-statistic:                     388.8
Date:                Mon, 27 Feb 2023   Prob (F-statistic):               0.00
Time:                        02:27:19   Log-Likelihood:                -35421.
No. Observations:                9556   AIC:                         7.086e+04
Df Residuals:                    9549   BIC:                         7.091e+04
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         1.986e+04    628.134     31.612      0.000    1.86e+04    2.11e+04
index           -0.0002   4.37e-05     -4.254      0.000      -0.000      -0.000
latitude      -412.6223     12.743    -32.379      0.000    -437.602    -387.643
longitude      137.6724      7.189     19.152      0.000     123.581     151.764
distance         0.0029      0.000      6.823      0.000       0.002       0.004
review_count     0.0029      0.000      7.883      0.000       0.002       0.004
rating          -1.0034      0.496     -2.023      0.043      -1.976      -0.031
==============================================================================
Omnibus:                      113.358   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               96.373
Skew:                           0.185   Prob(JB):                     1.18e-21
Kurtosis:                       2.677   Cond. No.                     4.32e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.32e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

This model is supposed to show how the independent variables effect on the amount of bikes available by the dependent variable which is free_bikes.
There is a correlation between the dependent variable 'free_bikes' and the independent variables ( latitude, longitude, distance, review_count, rating). The R-squared value of 0.196 shows that 19.6% of the variance in the dependent variable can be explained by the independent variables. The p-values show that all of the variables, except for rating, are significant in predicting the number of free bikes in a location.

# Stretch

How can you turn the regression model into a classification model?